*{
  padding:0;
  margin:0;
}

html, .Body{
  height:100%;
  background:#004040;
}


.header{
  height: 20vh;
  border: 1px solid black;
  background:#1A1A1D;

}

.header ul{
  float:right;
  padding: 20px;
  margin-right: 5%;
  word-spacing: 20px;
}

.header ul li{
  display: inline-block;
}

.header .logo{
  float:left;
  margin-right:13%;
  margin-top:10px;

}

.header .logo a{
  text-decoration: none;
  display: inline-block;
  color:#e5e5e5;
  font-size:30px;
  font-style: sans-serif;
  font-weight:900;
  padding:10px;
  letter-spacing: 0.3em;
  margin-left:13%;
}

.header ul li a{
  text-decoration: none;
  padding: 8px;
  letter-spacing: 0.1em;
  font-weight:500;
  color:#e5e5e5;
  font-family: sans-serif;
  transition: 0.6s ease;

}

.header ul li a:hover{
  background-color: #fff;
  color:black;
}

.Title{
  color:Black;
  background-color: #008080;
  font-size: 25px;
  font-family: fantasy;
  padding-top: 70px;
  padding-left: 25%;
  padding-right: 20%;
}

.Title h1{
  border-bottom: 3px solid black;

}

.about{
  background-color: #008080;
  padding-left: 40px;
  padding-top: 80px;
  padding-right: 30px;
  padding-bottom: 137px;
  font-size: 20px;
  font-family: fantasy;

}

.about .first{
  text-align: center;
}

.about .second{
  text-align: center;
}

.about .third{
  text-align: center;
}



.footer{
  align:bottom;
  margin-top: 40px;
  color:#e5e5e5;
  font-family:fantasy;
  line-height: 3em;


}


.footer .contacts{
  float: left;
  padding-left: 30px;
}

.footer .address{
  float: right;
  padding-right: 30px;
  margin-right: 250px;
}

.footer .contacts h1{
  font-size: 26px;
  letter-spacing: 0.02em;
  padding-bottom: 1px;
  font-weight:400;

}

.footer .contacts h2{
  padding-top: 6px;
  font-size: 22px;
  letter-spacing: 0.02em;
  font-weight:100;

}

.footer .contacts h3{
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight:100;

}

.footer .address h1{
  font-size: 22px;
  letter-spacing: 0.01em;
  font-weight:100;

}
