*{
  padding:0;
  margin:0;
}

html, .Body{
  height:100%;
  background:black;
}


.header{
  height: 20vh;
  border: 1px solid black;
  background:#1A1A1D;

}

.header ul{
  float:right;
  padding: 20px;
  margin-right: 5%;
  word-spacing: 20px;
}

.header ul li{
  display: inline-block;
}

.header .logo{
  float:left;
  margin-right:13%;
  margin-top:10px;

}

.header .logo a{
  text-decoration: none;
  display: inline-block;
  color:#e5e5e5;
  font-size:30px;
  font-style: sans-serif;
  font-weight:900;
  padding:10px;
  letter-spacing: 0.3em;
  margin-left:13%;
}

.header ul li a{
  text-decoration: none;
  padding: 8px;
  letter-spacing: 0.1em;
  font-weight:500;
  color:#e5e5e5;
  font-family: sans-serif;
  transition: 0.6s ease;

}

.header ul li a:hover{
  background-color: #fff;
  color:black;
}



.data{
  color:#e5e5e5;
  padding-top: 20px;
  font-family: fantasy;
  letter-spacing: 0.02em;
}

.data img{
  height: 200px;
  width: 16%;
  float: left;
}

.data .edata{
  margin-left: 25%;
  padding-bottom: 120px;
  line-height: 30px;

}

.data .mdata{
  padding-left: 30px;
  line-height: 30px;
  margin-right: 77%;
}


.data .mdata h1{
  font-weight: 400;
  display: inline;
  font-size: 1.2em;
}

.data .mdata h2{
  display: inline;
  font-weight:normal;
  font-size: 1.2em;

}

.data .mdata h3{
  font-weight: 600;
  display: inline;
  font-size: 1.7em;
  border-bottom: 2px solid maroon;
}

.data .edata h1{
  display: inline;
  font-size:1.6em;
  font-weight: 400;


}

.data .edata h2{
  display: inline;
  font-size: 1.5em;
  font-weight: 100;
}

.footer{
  align:bottom;
  margin-top: 40px;
  color:#e5e5e5;
  font-family:fantasy;
  line-height: 3em;


}


.footer .contacts{
  float: left;
  padding-left: 30px;
}

.footer .address{
  float: right;
  padding-right: 30px;
  margin-right: 250px;
}

.footer .contacts h1{
  font-size: 26px;
  letter-spacing: 0.02em;
  padding-bottom: 1px;
  font-weight:400;

}

.footer .contacts h2{
  padding-top: 6px;
  font-size: 22px;
  letter-spacing: 0.02em;
  font-weight:100;

}

.footer .contacts h3{
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight:100;

}

.footer .address h1{
  font-size: 22px;
  letter-spacing: 0.01em;
  font-weight:100;

}


.Title {
  text-align: center;

  padding-top: 10px;
  padding-bottom: 15px;
  font-family:sans-serif;
  color: #e5e5e5;
  font-size :25px;
  border-bottom: 3px solid yellow;
  margin-left: 25%;
  margin-right:25%;


}

.Title h1{
}


.spaceship{
  line-height: 20px;
}
.spaceship img{
  width: 100%;
  height: 120vh;
  opacity: 0.5;
}

.spaceship h1{
  position: absolute;
  color:#67cfab;
  z-index:1;
  padding-left: 22%;
  padding-top:230px;
  font-family: sans-serif;
  font-size: 40px;
}


.spaceship h2{
  position: absolute;
  color:#e5e5e5;
  z-index:1;
  padding-left: 28%;
  padding-top:280px;
  font-family: sans-serif;
}


.spaceship h2 button{
  margin-top: 20px;
  margin-left: 190px;
  font-size: 35px;

}

.spaceship h2 button a{
  color: black;
  text-decoration: none;
  font-family:sans-serif;
  font-weight: bold;
  background: #e0e0e0;
}

.spaceship h2 button:hover{
  color:brown;
  background: #e0e0e0;
  border: none;
}

.spaceship h2 button a:hover{
  color:brown;
  background: #e0e0e0;

}
