{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/about.css" %}">
  </head>
  <body>
     <header class="header">
       <li class="logo"><a href="{% url "home_view" %}">TNS</a></li>
       <ul>
         <li><a href="{% url "home_view" %}">Home</a></li>
         <li><a href="{% url "form_view" %}">Bookings</a></li>
         <li><a href="{% url "explore_view" %}">Explore</a></li>
         <li><a href="{% url "about_view" %}">About-Us</a></li>
       </ul>
     </header>
  <div class="Title">
    <h1>Trans-Neptunian Spaceway</h1>
  </div>

  <div class="about">
    <p class="first">
      TNS is representation of the leading platform of growing space tourism
    </p>
    <p class="second">
      which allows and facilitates paths for you
    </p>
    <p class="third">
       to move beyond Neptune !!!
     </p>
   </br>
   </br></br></br>
    </p>
    <p class="additional">

    </p>
  </div>
  <hr>
  


  <div class="footer">
    <div class ="contacts">
      <h1> TNS HEADQUARTERS </h1>
      <h2> Shankamul Road </h2>
      <h3> New Baneshwor, Kathmandu </br>
      Toll-free : 393-585-333-869</h3>
    </div>
    <div class="line">

    </div>
    <div class="address">
      <h1>Enquiry Address: enquiry@tns.com</h1>
    </div>
  </div>

  </body
