{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/explore.css' %}">
    <title> Explore </title>
  </head>
  <body>


    <header class="header">
      <li class="logo"><a href="{% url "home_view" %}">TNS</a></li>
      <ul>
        <li><a href="{% url "home_view" %}">Home</a></li>
        <li><a href="{% url "form_view" %}">Bookings</a></li>
        <li><a href="{% url "explore_view" %}">Explore</a></li>
        <li><a href="{% url "about_view" %}">About-Us</a></li>
      </ul>
    </header>
 <div class="spaceship">
   <h1> We are the light that travel into space</h1>
<h2>Come Join Us in this enchantic endeavour    </br> <button><a href="{% url "form_view" %}">Book Now</a></button>
</h2>
     <img src="/media/img/explore.jpg">
   </div>
<div class="Title">
  <h1>Your Destinations</h1>
</div>
    <div class="data">
    {% for features in features %}
      <img src="{{ features.Image.url }}">

      <div class="edata">

         <h1>Composition</h1>: <h2>{{ features.Composition }}</h2></br>
          <h1>Recreation</h1>: <h2>{{ features.Recreation }}</h2></br>
          <h1>Research</h1>: <h2>{{ features.Research }}</h2></br>

        </div>
          <div class="mdata">
            <h3>{{ features.Name }}</h3></br>
            <h1>Diameter</h1>: <h2>{{ features.Diameter }}</h2></br>
            <h1>Distance</h1>: <h2>{{ features.Distance }}</h2></br>
            <h1>Temperature</h1>: <h2>{{ features.Temperature }}</br>
              <h1>Density</h1>: <h2>{{ features.Density }}</br>

          </div></br>
        <hr>
      </br>
    {% endfor %}
  </div>


  <div class="footer">
    <div class ="contacts">
      <h1> TNS HEADQUARTERS </h1>
      <h2> Shankamul Road </h2>
      <h3> New Baneshwor, Kathmandu </br>
      Toll-free : 393-585-333-869</h3>
    </div>
    <div class="line">

    </div>
    <div class="address">
      <h1>Enquiry Address: enquiry@tns.com</h1>
    </div>
  </div>

  </body>
</html>
